vti_encoding:SR|utf8-nl
vti_casesensitiveurls:IX|0
vti_httpdversion:SX|FrontPage DBW
vti_textextensions:SX|.txt.
vti_featurelist:VX|vti_ACAll vti_ServiceMarkUrlDirBrowse vti_ServiceMarkUrlDirExec vti_ServiceMarkUrlDirScript vti_ServerEmailTransport vti_ServerIndexServer vti_ServerASP
vti_dependenciesood:IR|0
vti_ignorekeyboard:IR|0
vti_navbuttonuplabel:SR|Su
vti_webservertype:SR|msiis
vti_categories:VR|Viaggi Riepilogo\\ spese Affari Concorrenza Obiettivi Idee Varie Attesa VIP Operazioni\\ in\\ corso Pianificazione Programma
vti_navbuttonnextlabel:SR|Successiva
vti_approvallevels:VR|Revisione\\ contenuto Revisione\\ legale Revisione\\ codice Revisione\\ manager
vti_timecreated:TR|01 Mar 2003 08:02:15 -0000
vti_extenderversion:SR|4.0.2.7802
vti_navbuttonprevlabel:SR|Precedente
vti_longfilenames:IX|1
vti_welcomenames:VX|index.htm index.html default.htm default.html welcome.htm welcome.html home.htm home.html
vti_insecureserverurl:SR|file://
vti_secureserverurl:SR|https://localhost
vti_disableautoimgsizeexts:SX|.asp
vti_oldestcompatibleversion:SR|2.0.0.0
vti_restartmanual:IX|0
vti_defaultcharset:SR|windows-1252
vti_defaultlanguage:SR|it
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_htmlextensions:SX|.htm.html.shtml.shtm.stm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|Home
